<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link href="stylesheets/style.css" rel="stylesheet">

    <title>TODO APP</title>

    <style>



    </style>
  </head>
    <body>
      <div>
             <header>
                <nav>
                <div class="logo">
                    <a href="#">
                        <img src="https://static.wixstatic.com/media/5b4b97_a2e5c36cfd584f3aa512ad8b07f30727~mv2.png/v1/fill/w_111,h_121,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/NOVVA%20LOGO%20COM%20EFEITO%20SEM%20SOMBRA.png" alt="Logo"/>
                    </a>
                </div>
                <ul class="menu">
                    <li><a href="#">Proposta</a></li>
                    <li><a href="/description">Detalhes</a></li>
                    <li><a href="#">Desenvolvedor</a></li>
                    <li><a href="#">Tecnologias</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
                </nav>
            </header>
             <div class="container_proposta">

                {{! <p class= "p_proposta">
                                  Este projeto visa desenvolver um sistema que oferece suporte à gestão de atletas e competições, com o objetivo de facilitar a administração das academias de judô e da Federação Paranaense de Judô. O sistema será completamente integrado aos dados da Confederação Brasileira de Judô (CBJ). Os atletas serão responsáveis por inserir suas informações e comprovante de pagamento para as competições em que participarão. Os professores, por sua vez, irão revisar e confirmar todas as informações fornecidas pelos atletas, garantindo que, no dia em que a federação verificar os dados, tudo esteja correto e organizado. As categorias e faixas etárias serão inseridas pelos próprios atletas. Cada atleta e professor terá acesso ao formulário específico de sua academia, enquanto a Federação Paranaense terá acesso a todas as academias e aos dados dos alunos relacionados à competição.
                </p>
                      <h2 class="proposta_title">Proposta</h2> }}

                     <div class="container_login">
                        <div class="login-form">

                          <h2> Login  </h2>
                          <div class="container_form">
                            <form>

                                <input type="text" placeholder="Usuário" required />
                                <input type="password" placeholder="Senha" required />
                                <button type="submit">Entrar</button>

                            </form>
                          </div>
                        </div>
                      </div>
               </div>
              <img   id= "fundo"src="https://static.wixstatic.com/media/5b4b97_a56bf4008973433bb99533d525220bad~mv2.png/v1/fill/w_1895,h_926,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/5b4b97_a56bf4008973433bb99533d525220bad~mv2.png" alt="federacao" />
              <div  class="container_main">
              <footer>
                <div class="container">
                    <div class="footer-logo">

                    </div>
                        <div class="footer-links">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Sobre</a></li>
                                <li><a href="#">Calendário</a></li>
                                <li><a href="#">Notícias</a></li>
                                <li><a href="#">Contato</a></li>
                            </ul>
                        </div>
                    <div class="footer-social">
                        <a href="#"><img src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_33,h_33,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/23fd2a2be53141ed810f4d3dcdcd01fa.png" alt="Facebook"/></a>
                        <a href="#"><img src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_33,h_33,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/81af6121f84c41a5b4391d7d37fce12a.png" alt="Instagram"/></a>
                        <a href="#"><img src="https://static.wixstatic.com/media/203dcdc2ac8b48de89313f90d2a4cda1.png/v1/fill/w_33,h_33,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/203dcdc2ac8b48de89313f90d2a4cda1.png" alt="YouTube"/></a>
                    </div>
                  </div>
                </footer>
        </div>

        </div>
  </body>
</html>
