<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link href="stylesheets/tecnologia.css" rel="stylesheet">

    <title>Description</title>

  </head>
  <body>
    <header>
        <nav>
           <div class="logo">
              <a href="#">
                <img src="https://static.wixstatic.com/media/5b4b97_a2e5c36cfd584f3aa512ad8b07f30727~mv2.png/v1/fill/w_111,h_121,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/NOVVA%20LOGO%20COM%20EFEITO%20SEM%20SOMBRA.png" alt="Logo"/>
              </a>
            </div>
            <ul class="menu">
              <li><a href="#">Proposta</a></li>
              <li><a href="/description">Detalhes</a></li>
              <li><a href="#">Desenvolvedor</a></li>
              <li><a href="/tecnologia">Tecnologias</a></li>
              <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>
    <div class="row">

        <div class="col-sm-5 w-25 h-25 mt-5 card_tecnologia">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Express</h5>
                    <p class="card-text">Um framework web para Node.js que simplifica o desenvolvimento de aplicativos web.</p>
                    <a href="https://expressjs.com/" class="btn btn-primary">Documentação</a>
                </div>
            </div>
        </div>

        <div class="col-sm-5 w-25 h-25 mt-5 card_tecnologia">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text">Uma linguagem de programação usada para adicionar interatividade e lógica a páginas web.</p>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" class="btn btn-primary">Documentação</a>
                </div>
            </div>
        </div>

        <div class="col-sm-5 w-25 h-25 mt-5 card_tecnologia">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Node.js</h5>
                    <p class="card-text">Uma plataforma de tempo de execução de JavaScript baseada em eventos que permite executar código JavaScript no lado do servidor.</p>
                    <a href="https://nodejs.org/en/docs/" class="btn btn-primary">Documentação</a>
                </div>
            </div>
        </div>

    <!-- Replica para as demais tecnologias -->

        <div class="col-sm-5 w-25 h-25 mt-5 card_tecnologia">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Bootstrap</h5>
                <p class="card-text">Um framework CSS popular que fornece componentes e estilos predefinidos para ajudar no desenvolvimento responsivo e ágil de páginas web.</p>
                <a href="https://getbootstrap.com/docs/" class="btn btn-primary">Documentação</a>
                </div>
            </div>
        </div>

        <div class="col-sm-5 w-25 h-25 mt-5 card_tecnologia">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">MongoDB</h5>
                <p class="card-text">Um banco de dados NoSQL baseado em documentos, que pode ser usado com o Node.js para armazenar e recuperar dados.</p>
                <a href="https://docs.mongodb.com/" class="btn btn-primary">Documentação</a>
                </div>
            </div>
        </div>

        <div class="col-sm-5 w-25 h-25 mt-5 card_tecnologia">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mongoose</h5>
                    <p class="card-text">Uma biblioteca de modelagem de objetos do MongoDB para Node.js, que simplifica a interação com o banco de dados MongoDB.</p>
                    <a href="https://mongoosejs.com/docs/" class="btn btn-primary">Documentação</a>
                </div>
            </div>
        </div>

        <div class="col-sm-5 w-25 h-25 mt-5 card_tecnologia">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mustache</h5>
                    <p class="card-text">Uma linguagem de modelo que permite a separação de dados e apresentação em aplicativos web.</p>
                    <a href="https://github.com/janl/mustache.js" class="btn btn-primary">Documentação</a>
                </div>
            </div>
        </div>

        <div class="col-sm-5 w-25 h-25 mt-5 card_tecnologia">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Git</h5>
                    <p class="card-text">Um sistema de controle de versão distribuído usado para rastrear e gerenciar o código-fonte do projeto.</p>
                    <a href="https://git-scm.com/doc" class="btn btn-primary">Documentação</a>
                </div>
            </div>
        </div>

        <div class="col-sm-5 w-25 h-25 mt-5 card_tecnologia">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">GitHub</h5>
                    <p class="card-text">Uma plataforma de hospedagem de código-fonte que usa o Git para controle de versão.</p>
                    <a href="https://docs.github.com/" class="btn btn-primary">Documentação</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="footer-logo">

                </div>
                   <div class="footer-links">
                      <ul>
                         <li><a href="#">Home</a></li>
                         <li><a href="#">Sobre</a></li>
                         <li><a href="#">Calendário</a></li>
                         <li><a href="#">Notícias</a></li>
                         <li><a href="#">Contato</a></li>
                       </ul>
                </div>
            <div class="footer-social">
                <a href="#"><img src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_33,h_33,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/23fd2a2be53141ed810f4d3dcdcd01fa.png" alt="Facebook"/></a>
                <a href="#"><img src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_33,h_33,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/81af6121f84c41a5b4391d7d37fce12a.png" alt="Instagram"/></a>
                <a href="#"><img src="https://static.wixstatic.com/media/203dcdc2ac8b48de89313f90d2a4cda1.png/v1/fill/w_33,h_33,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/203dcdc2ac8b48de89313f90d2a4cda1.png" alt="YouTube"/></a>
            </div>
        </div>
     </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>
